@using System.Web.Optimization
@using Abp.Web.Mvc.Extensions
@{
    ViewBag.Title = "任务列表";
    ViewBag.TitleSmall = "";

    ViewBag.Breadcrumb = new Breadcrumb(new Crumb[] {
        new Crumb("任务管理", "", "fa-dashboard"),
        new Crumb("任务列表", "", "")
    });
}
@section scripts
{
    @Html.IncludeScript("~/Views/Tasks/Index.js")
}
@Styles.Render("~/dataTables/css")
<div class="panel panel-default">
    <div class="panel-body">
        <div class="col-md-6">
            <div class="input-group">
                <input class="form-control" name="name" placeholder="请输入任务名称" value="" maxlength="50" />
                <span class="input-group-btn">
                    <button class="btn btn-success" type="button" id="btnSearch">
                        搜索
                    </button>
                </span>
            </div>
        </div>
    </div>
</div>
<div class="panel panel-default">
    <div class="panel-body">
        <div class="col-md-5">
            <div class="input-group">
                <a href="@Url.Action("Create")" class="btn btn-primary">新增</a>
            </div>
        </div>
    </div>
</div>
<div class="tab-content panel panel-default">
    <div class="panel-body active table-responsive">
        <table id="tb_task" class="table table-bordered table-hover dataTable">
            <thead>
                <tr>
                    <th>ID</th>
                    <th>任务名称</th>
                    <th>当前运行状态</th>
                    <th>任务信息</th>
                    <th>任务备注</th>
                    <th class="hidden">操作</th>
                </tr>
            </thead>
            <tbody></tbody>
        </table>
    </div>
</div>
@Scripts.Render("~/dataTables/js")

