@using Abp.Web.Mvc.Extensions
@{
    ViewBag.Title = "节点列表";
    ViewBag.TitleSmall = "";

    ViewBag.Breadcrumb = new Breadcrumb(new Crumb[] {
        new Crumb("任务管理", "", "fa-dashboard"),
        new Crumb("节点列表", "", "")
    });
}
@section scripts
{
    @Html.IncludeScript("~/Views/Nodes/Index.js")
}
<div class="panel panel-default">
    <div class="panel-body">
        <div class="col-md-6">
            <div class="input-group">
                <input class="form-control" id="Content" name="Content" placeholder="请输入节点名称" value="" maxlength="50" />
                <span class="input-group-btn">
                    <button class="btn btn-success" type="button" id="btnSearch">
                        搜索
                    </button>
                </span>
            </div>
        </div>
    </div>
</div>

<div class="panel panel-default">
    <div class="panel-body">
        <div class="col-md-5">
            <div class="input-group">
                <a href="" class="btn btn-primary" data-toggle="modal" data-target="#NodeModal">新增</a>
            </div>
        </div>
    </div>
</div>

<div class="tab-content panel panel-default">
    <div class="panel-body active table-responsive">
        <table id="tb_node" class="table table-bordered table-hover dataTable">
            <thead>
                <tr>
                    <th>ID</th>
                    <th>节点名称</th>
                    <th>IP/Host</th>
                    <th>心跳更新时间</th>
                    <th>状态</th>
                    <th class="hidden">操作</th>
                </tr>
            </thead>
            <tbody></tbody>
        </table>
    </div>
</div>

<div class="modal fade" id="NodeModal" tabindex="-1" role="dialog" aria-labelledby="NodeModalLabel" data-backdrop="static">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <form name="NodeForm" role="form" novalidate class="form-horizontal">
                <div class="modal-header">
                    <h4 class="modal-title">
                        <span>分类信息</span>
                    </h4>
                </div>
                <div class="modal-body">
                    <div class="panel-body">
                        <div class="form-group">
                            <label class="control-label col-lg-3" for="NodeName">节点名</label>
                            <div class="col-lg-8">
                                <input type="text" class="form-control" id="NodeName" name="NodeName" value=""
                                       placeholder="请输入节点名" required maxlength="50">
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="NodeIp" class="col-md-3 control-label">节点ip/host</label>
                            <div class="col-md-8">
                                <input type="text" class="form-control" id="NodeIp" name="NodeIp" value=""
                                       placeholder="请输入节点ip/host" required maxlength="20">
                            </div>
                            <div class="col-md-8  col-md-offset-3">
                                <span class="help-block">示范:127.0.0.1</span>
                            </div>
                        </div>
                    </div>
                    <div class="hidden">
                        <input type="hidden" id="Id" name="Id" value="" />
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
                    <button type="submit" class="btn btn-primary"><i class="fa fa-save"></i> <span>保存</span></button>
                </div>
            </form>
        </div>
    </div>
</div>
